<div id="Box">
    <div class="alert alert-success">
        <h1>Payment successful!!!</h1><strong> Your desired room(s) have been booked!!! Have a nice stay!!!</strong>
    </div>
    <div class="persent-one less-btn">
        <button  name="submit"  value="Done" class="btn btn-info cst-btn" id="srch" routerLink="/home">Go to Homepage</button>
     </div>
</div>


 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
        #Box {
            
            width:400px;
	    margin-left:30%;
	    margin-top : 10%;
        }

        p {
            width:600px;
            margin-left: 40%;
            display: block;
        }

        dl dt {
            margin-left: 0;
        }
</style>