<!-- 
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-8 col-md-10 col-sm-10 mx-auto text-center form p-4">
                    <p class="display-4 py-2 text-truncate">Search your Hotel</p>
                    <div class="px-4">
                        <form action="" class="justify-content-center">
                            
                            <div class="form-group">
                                <label class="sr-only">City/Hotel</label>
                                <input type="text" class="form-control" placeholder="City/Hotel">
                            </div>
                
                            <div class="form-group">
                                <label class="sr-only">Check-in Date</label>
                                <input type="date" class="form-control" placeholder="Check-in Date">
                            </div>
                          
                    
                            <div class="form-group">
                                <label class="sr-only">Check-out Date</label>
                                <input type="date" class="form-control" placeholder="Check-out Date">
                            </div>
                           
                            
                            
                            <button type="submit" class="btn btn-dark btn-lg">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<body>
    <section id="cover" class="min-vh-100">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <div id="cover-caption">
               <div class="container">
                  <div class="tabing">
                     
                     <div class="tab-content">
                        <div id="1" class="tab1 active">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="City/Hotel">
                              </div>
                             
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Check-In Date">
                              </div>
                              
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Check-Out Date">
                              </div>
                             
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit"  value="Search" class="btn btn-info cst-btn" id="srch">
                              </div>
                           </div>
                           <!-- flight tab -->
                        </div>
                       
                     </div>
                     </div>
                     <!-- tab content -->
                  </div>
                  <!-- tabbing -->
               </div>
               
        </section>
            </body>