
<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-8 col-md-10 col-sm-10 mx-auto text-center form p-4">
                    <p class="display-4 py-2 text-truncate">Search your Hotel</p>
                    <div class="px-4">
                        <form action="" class="justify-content-center">
                            
                            <div class="form-group">
                                <label class="sr-only">City/Hotel</label>
                                <input type="text" class="form-control" placeholder="City/Hotel">
                            </div>
                           
                            <!-- <mat-form-field [floatLabel]="options.value.floatLabel">
                                <mat-label>Both a label and a placeholder</mat-label>
                                <input matInput placeholder="Simple placeholder">
                              </mat-form-field> -->
                            
                            <div class="form-group">
                                <label class="sr-only">Check-in Date</label>
                                <input type="text" class="form-control" placeholder="Check-in Date">
                            </div>
                            <!-- <div class="container">
                                <div class="row">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                            </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker3').datetimepicker({
                                        format: 'LT'
                                    });
                                });
                            </script>
                            </div>
                            </div> -->
                    
                            <div class="form-group">
                                <label class="sr-only">Check-out Date</label>
                                <input type="text" class="form-control" placeholder="Check-out Date">
                            </div>
                           
                            <!-- <mat-form-field>
                                <input matInput [matDatepicker]="myDatepicker">
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker>
                              </mat-form-field> -->
                            
                            
                            <button type="submit" class="btn btn-dark btn-lg">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>