<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
   <div [hidden]="hidden">
      <div class="searched">
         <form (ngSubmit)="onSubmit()" #searchForm="ngForm" id="1" class="tab1 active">
            <div class="flight-tab row">
               <div class="persent-one">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <label name="dep" class="textboxstyle" id="dep" placeholder="City/Hotel">
                     <select class="form-control" placeholder="Location" id="exampleFormControlSelect1"
                        [(ngModel)]="location" name="location">
                        <option>Bangalore</option>
                        <option>New Delhi</option>
                        <option>Hyderabad</option>
                        <option>Kolkata</option>
                        <option>Mumbai</option>
                     </select>
                  </label>
               </div>

               <div class="persent-one less-per">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="date" name="dep" class="textboxstyle" id="from-date1" min="2020-02-25" max="2020-12-31"
                     placeholder="Check-In Date" [(ngModel)]="checkInDate" name="checkInDate"><b>
                     <font color="yellow">Check-In Date</font>
                  </b>

               </div>

               <div class="persent-one less-per">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="date" name="dep" class="textboxstyle" id="to-date" min="2020-02-25" max="2020-12-31"
                     placeholder="Check-Out Date" [(ngModel)]="checkOutDate" name="checkOutDate"><b>
                     <font color="yellow">Check-Out Date</font>
                  </b>
               </div>

               <div class="persent-one less-btn">
                  <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">

               </div>

               <button id="openNav" class="filter" (click)='w3_open()'>Filter</button>
            </div>
          
            <!-- flight tab -->
         </form>
         <div>
            <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none;right:0" id="mySidebar">
               <button (click)="w3_close()" class="w3-bar-item w3-large" style="color: darkmagenta;">Close &times;</button>

               <br><br><br><br>
               <a>
                  <label class="sr-only">Minimum Price</label>
                  <input type="number" class="form-control" placeholder="Minimum Price" [(ngModel)]="minPrice"
                     name="minPrice">
               </a>

               <br><br>
               <a>
                  <label class="sr-only">Maximum Price</label>
                  <input type="number" class="form-control" placeholder="Maximum Price" [(ngModel)]="maxPrice"
                     name="maxPrice">
               </a>
               <br><br><br>
               <button style="text-align: center;" class="filter1" (click)='filtered()'>Filter</button>
            </div>
         </div>

      </div>
      <br>
      <div id="main" class="card" *ngFor="let hotel of hotels ; let i = index ">

         <div class="container1">
            <div class="images">
               <img src="https://ak6.picdn.net/shutterstock/videos/15407836/thumb/1.jpg" />
            </div>

            <p class="pick"><b><i>Amenities: </i></b>{{hotel.amenities}}</p>
            <!-- <p class="size"> {{hotel.amenities}}</p> -->

            <p class="pick1">No. of Rooms: {{hotel.noOfRooms}}</p>



            <div class="product">
               <p>Hotel</p>
               <h1>{{hotel.hotelName}}</h1>
               <h2>₹ {{hotel.pricePerRoom}}</h2>
               <p class="desc">{{hotel.location}}</p>
               <div class="buttons">
                  <button class="btn btn-success" *ngIf='user_status != null' routerLink="/confirm-booking"> Book
                     hotel</button>
                  <button class="btn btn-success" *ngIf='user_status == null' routerLink="/login"> Book hotel</button>
               </div>
            </div>
         </div>

      </div>
   </div>
   <section id="cover" class="min-vh-100" [hidden]="!hidden">
      <link rel="stylesheet" type="text/css"
         href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="cover-caption">
         <div class="container">
            <div class="tabing">

               <div class="tab-content">
                  <form (ngSubmit)="onSubmit()" #searchForm="ngForm" id="1" class="tab1 active">
                     <div class="flight-tab row">
                        <div class="persent-one">
                           <i class="fa fa-map-marker" aria-hidden="true"></i>
                           <label name="dep" class="textboxstyle" id="dep" placeholder="City/Hotel">
                              <select class="form-control" placeholder="Location" id="exampleFormControlSelect1"
                                 [(ngModel)]="location" name="location">
                                 <option>Bangalore</option>
                                 <option>New Delhi</option>
                                 <option>Hyderabad</option>
                                 <option>Kolkata</option>
                                 <option>Mumbai</option>
                              </select>
                           </label>
                        </div>

                        <div class="persent-one less-per">
                           <i class="fa fa-calendar" aria-hidden="true"></i>
                           <input type="date" name="dep" class="textboxstyle" id="from-date1" min="2020-02-25"
                              max="2020-12-31" placeholder="Check-In Date" [(ngModel)]="checkInDate"
                              name="checkInDate"><b>
                              <font color="yellow">Check-In Date</font>
                           </b>

                        </div>

                        <div class="persent-one less-per">
                           <i class="fa fa-calendar" aria-hidden="true"></i>
                           <input type="date" name="dep" class="textboxstyle" id="to-date" min="2020-02-25"
                              max="2020-12-31" placeholder="Check-Out Date" [(ngModel)]="checkOutDate"
                              name="checkOutDate"><b>
                              <font color="yellow">Check-Out Date</font>
                           </b>
                        </div>

                        <div class="persent-one less-btn">
                           <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                        </div>
                     </div>
                     <!-- flight tab -->
                  </form>

               </div>
            </div>
            <!-- tab content -->
         </div>
         <!-- tabbing -->
      </div>

   </section>


</body>

<script>
   $(".size").on('click', function () {
      $(this).toggleClass('focus').siblings().removeClass('focus');
   })

</script>
<!-- <table datatable class="table table-striped" [hidden]="hidden">
   <thead>
      <tr>
         <th>Index</th>
         <th>Hotel Name</th>
         <th>Location</th>
         <th>Price per Room</th>
         <th>No Of Rooms</th>
         <th>Amenities</th>
         <button class="btn btn-outline-dark navbar-btn" style="float:right;"><a class="nav-link"
               style="float:right;" href="#" routerLink='/filter'>Filter</a></button>
      </tr>

   </thead>
   <tbody>
      <tr id="table-hotel" *ngFor="let hotel of hotels ; let i = index ">
         <td>{{i}}</td>
         <td>{{hotel.hotelName}}</td>
         <td>{{hotel.location}}</td>
         <td>{{hotel.pricePerRoom}}</td>
         <td>{{hotel.noOfRooms}}</td>
         <td>{{hotel.amenities}}</td>

         <td><button class="btn btn-success" *ngIf='user_status != null' routerLink="/confirm-booking"> Book
               hotel</button></td>
         <td><button class="btn btn-success" *ngIf='user_status == null' routerLink="/login"> Book hotel</button>
         </td>


      </tr>
   </tbody>


</table> -->