#cover {
    /* background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat; */
    background-image: url(C:\Users\araj15\Documents\GitHub\HMS_FrontEnd\FrontEnd\src\assets\images\1.jpg); 
    /* background-image: url(C:\Users\araj15\Documents\GitHub\HMS_FrontEnd\FrontEnd\src\assets\images\2.jpg); */
    /* background-image: url(C:\Users\araj15\Documents\GitHub\HMS_FrontEnd\FrontEnd\src\assets\images\3.jpg); */
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
/* form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
} */

/* .container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding: 3%;
    width:90%;
    height: 80%;
    background-color: rgb(87, 20, 153);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
} */
.flight-engine {
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 50px;
    padding: 20px;
    z-index: 999;
}
.tab1.active {
    display: block
}
.tab1 {
    display: none
}
.tabing {
   align-items: center;
    width: 100%;
    background: rgba(75, 7, 235, 0.8);
    padding: 0 10px 50px 10px;
    color: #fff;
}
.tabing ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    float: left;
}
.tabing ul li {
    float: left;
}
.tabing ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background: rgba(0, 130, 185, .9);
    margin: 0 10px 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 5px 5px;
    font-size: 16px;
    text-align: left;
}
.tabing ul li a.active {
    background: #ba0400
}
.flight-tab {
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 15px
}
.flight-tab .textboxstyle {
    width: 100%;
    float: left;
    color: #191919;
    padding: 8px 10px 8px 35px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
}
.persent-one {
    width: 35%;
    float: left;
    margin-right: 1%;
    position: relative;
    margin-bottom: 10px;
}
.persent-one i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #191919;
    font-size: 14px;
}
.persent-one.less-per {
    width: 25%;
    float: left;
    margin-right: 1%;
}
.persent-one.less-btn {
    width: 5%;
    float: left;
    margin-right: 1%;
}
.persent-one.less-btn .cst-btn {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    position: absolute;
    top: -32px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* center container in the middle */
/* html {
  display: grid;
  min-height: 100%;
} */

.card{
 
  display: grid;
  background: rgb(4, 229, 245);
  font-family:  sans-serif;
  text-transform: uppercase;
}

.container1 {

  position: relative;
  margin: auto;
  overflow: hidden;
  width: 1200px;
  height: 350px;
  background:#F5F5F5;
  box-shadow: 5px 5px 15px rgba(#BA7E7E, .5);
  border-radius: 10px;
}

p {
  font-size: 0.6em;
  color:#BA7E7E;
  letter-spacing: 1px;
}

h1 {
  font-size: 2em;
  color: #4E4E4E;
  margin-top: -5px;
  font-family: Impact,  'Arial Narrow Bold', sans-serif;
}

h2 {
  color: #C3A1A0;
  margin-top: -5px;
}

img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E0C9CB;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product {
  position:absolute;
  width: 100%;
  height: 200%;
  top: 20%;
left:75%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: black;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: darken(#E0C9CB, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;

}

.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color:  #D9AAB7;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;

}

.pick {
  margin-top: 50px;
  margin-bottom:0;
  margin-left: 20px;
  font-size: larger;
}

.pick1 {
    margin-top: 20px;
    margin-bottom:0;
    margin-left: 20px;
  }

.size {

  font-size: 12px;
  text-align: center;
  color : rgb(14, 46, 226);
  
}

.focus{
  background:  #BA7E7E;
  color:  #F5F5F5;
}





