
.right-margin
{
    padding-left:30px;
    padding-right:30px;;
}
.navbar
{
    background-image: url('C:\Users\araj15\Documents\GitHub\HMS_FrontEnd\FrontEnd\src\assets\images\watermark background My Gingiberi.png'); 
}

.navbar-brand
{
    font-weight: bold;
    font-style: italic;
}
li {
  float: left;
}

li a {
  display: block;
  color: rgb(34, 182, 71);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: rgb(190, 228, 20);
}
